* {
  font-family: 'Averta Demo PE Cutted Demo';
  padding: 0;
  margin: 0;
}
// font-family: 'Proxima Nova';

.container {
  max-width: 1200px;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@import './layout/menu.scss';
@import './layout/headline.scss';
@import './layout/client.scss';
@import './layout/help.scss';
@import './layout/footer.scss';

@import './media/media.scss';