.button {
  width: 11.97vw;
  height: 4.28vh;
  border-radius: 5px;
  background-color: $main-color;
  border: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;
  margin-top: 4px;
  &:hover {
    background-color: $main-color-hover;
  }
  &__main {
    margin-top: 68px;
    width: 19.55vw;
    height: 6.7vh;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
  }
}
