@import '../components/hamburger';
@media (max-width: 768px) {
  .title {
    font-size: 35px;
  }
  .caption {
    font-size: 14px;
  }
  .button {
    padding: 12px;
    width: 180px;
  }
  .hamburger {
    display: block;
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu {
    &__nav {
      padding-bottom: 40px;
    }
    &__items_block {
        position: absolute;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        background: white;
        padding: 30px;
        height: 100vh;
        top: 100px;
        transition: 0.3s;
        left: -100%;
        width: 170px;
    }
    &__items_block.active {
        left: 0;
    }
  }

  .headline {
    gap: 30px;

    &__content_container {
      max-width: 452px;
    }
    &__content_block {
      gap: 25px;
    }

    &__image_block {
      display: none;
    }
    &__content_block {
      align-items: center;
      .caption {
        text-align: center;
        width: 85%;
      }
    }
  }

  .client__icon_wrapper {
    width: 110px;
  }

  .help {
    &__wrapper {
      flex-direction: column;
      gap: 40px;
    }
    &__content_block {
      align-items: center;
    }
    &__help-varians_block {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .title {
      text-align: center;
    }
    .caption {
      text-align: center;
      width: 100%;
    }
  }

  .footer {
    &__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__content_block {
        align-items: center;
        text-align: center;
    }
    &__items_block {
        justify-content: center;
    }

  }
}

@media (max-width: 655px) {
  .client {
    &__wrapper {
      flex-direction: column;
      gap: 40px;
      justify-content: center;
      align-items: center;
    }
    .caption {
      display: none;
    }
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 27px;
  }
  .caption  {
    display: none;
  }
  .caption-medium {
    display: none;
  }
  .title-medium {
    font-size: 20px 
  }
}
