.logo_block {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 27.15px;
}
.logo {
    font-family: 'Proxima Nova';
    font-weight: 900;
    padding-top: 3px;
    &_text {
        font-weight: 400;
    }
}