.title {
    font-size: 40px;
    font-weight: 900;
    max-width: 462px;
}
.title-medium {
    font-size: 24px;
    font-weight: 900;
    max-width: 252px;
}
.title-small {
    font-size: 20px;
    font-weight: 900;
}