@import "../components/title";
@import "../components/caption";

.client {
  padding: 100px 0px 82px 0px;

  &__wrapper {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
  &__content_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
  }
  &__icons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; 
    flex-wrap: wrap;
  }

  &__icon_wrapper {
    height: 63px;
    width: 150px;
  }
  &__icon {
    width: 100%;
    height: 100%;
  }

  .caption {
    width: 324px;
  }
}
